
.textArea{
    display: flex;
    justify-content: center;
    padding: 60px 60px 0px 60px;
}
.text{
    width: 55vw;
    min-height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formBg{
    box-shadow: 4px 4px 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
}