
.textArea{
    display: flex;
    justify-content: center;
    padding: 60px 60px 0px 60px;
}
.text{
    width: 55vw;
    height: 300px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}