form{
    display: flex;
    justify-content: center;
}
.inputField{
    padding: 5px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #EFEFEF;

}
.formBg{
    box-shadow: 4px 4px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.logo{
    height: 200px;
    object-fit: contain;
    margin: 20px;
    margin-bottom: 30px;
}