body {
  margin: 0;
  font-family: 'Sanchez', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Commonly used styles */
.heading {
  font-family: 'Love Ya Like A Sister', cursive;
}

.color-bg-yellow {
  background-color : #FFC75F;
}

.color-bg-yellow-dark {
  background-color : #E7B355;
}

.color-bg-purple {
  background-color : #845EC2;
}

.color-text-light-grey {
  background-color: #EFEFEF;
}

.color-text-grey {
  background-color: #969696;
}